<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.evnage.com</key>
			<string></string>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Can we access your camera?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to import photos of people</string>
	<key>UIAppFonts</key>
	<array>
		<string>Anton-Regular.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-BoldItalic.ttf</string>
		<string>JosefinSans-Italic.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-LightItalic.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-SemiBoldItalic.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>JosefinSans-ThinItalic.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>BM-HANNA.ttf</string>
		<string>JejuGothic-Regular.ttf</string>
		<string>JejuHallasan-Regular.ttf</string>
		<string>JejuMyeongjo-Regular.ttf</string>
		<string>KoPubBatang-Bold.ttf</string>
		<string>KoPubBatang-Light.ttf</string>
		<string>KoPubBatang-Regular.ttf</string>
		<string>NanumBrushScript-Regular.ttf</string>
		<string>NanumGothic-Bold.ttf</string>
		<string>NanumGothic-ExtraBold.ttf</string>
		<string>NanumGothic-Regular.ttf</string>
		<string>NanumGothicCoding-Bold.ttf</string>
		<string>NanumGothicCoding-Regular.ttf</string>
		<string>NanumMyeongjo-Bold.ttf</string>
		<string>NanumMyeongjo-ExtraBold.ttf</string>
		<string>NanumMyeongjo-Regular.ttf</string>
		<string>NanumPenScript-Regular.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
